/** Fonts settings
 *
 * TABLE OF CONTENT
 * --------
 *  - FONT_FAMILLY
 *  - FONT_SIZE
 *  - FONT_WEIGHT
 *  - LINE_HEIGHT
 *  - FONT_MIXIN
 *
 * @author Nicolas Husson <hello@nusson.ninja>
 */

/* ===FONT_FAMILLY=== */
  ff-safe = Arial, Helvetica, sans-serif
  ff-bold = IBMPlexBold, sans-serif, Arial, Helvetica, sans-serif
  ff-medium = IBMPlexMedium, Arial, Helvetica, sans-serif
  ff-regular = IBMPlexRegular Arial, Helvetica, sans-serif
  ff-light = IBMPlexLight, Arial, Helvetica, sans-serif

/* ===FONT_SIZE=== */
  // 1rem = 10px
  // fz-extra        = 8rem
  fz-h1           = 12rem
  fz-h2           = 4rem
  fz-h3           = 2rem
  fz-h4           = 1.6rem
  fz-h5           = 1.2rem
  fz-h6           = 1rem
  // fz-subtitle     = 5rem
  // fz-highlight    = 3rem
  fz-medium       = 1.2rem
  fz-regular      = 1rem
  // fz-small        = 0.8rem
  // fz-extra-small  = 0.6rem

/* ===FONT_WEIGHT=== */
  fw-bold       = 700
  fw-medium     = 500
  fw-regular    = 400
  fw-light      = 300
  // fw-black      = 900
  // fw-extrabold  = 800
  // fw-semibold   = 600
  // fw-extralight = 200
  // fw-thin       = 100

/* ===LINE_HEIGHT=== */
  lh-title  = 1.12
  lh-default  = 1.25
  lh-text  = 1.6

/* ===FONT_MIXIN=== */

  font(type)
    if type is 'regular'
      font-family ff-regular
      font-weight fw-regular
      font-size fz-regular
    if type is 'text'
      font-family ff-regular
      font-weight fw-regular
      font-size fz-regular
      line-height lh-text
    if type is 'light'
      font-family ff-light
      font-weight fw-light
    if type is 'title'
      font-family ff-bold
      font-weight fw-bold
      line-height lh-title
    if type is 'h1'
      font-size fz-h1
      margin-bottom 1em
    if type is 'h2'
      font-size fz-h2
      margin-bottom .8em
    if type is 'h3'
      font-size fz-h3
      margin-bottom .6em
    if type is 'h4'
      font-size fz-h4
      margin-bottom .5em
    if type is 'h5'
      font-size fz-h5
      margin-bottom .25em
    if type is 'h6'
      font-size fz-h6
      margin-bottom .25em
  /**
  * choose a weight and ensure correct font is applied
  * will use safe font if body has _safe-font class
  */
  // font(weight=regular)
  //   if weight is black
  //     font-family ff-black
  //     font-weight fw-black
  //     letter-spacing: .2em
  //   else if weight is semibold
  //     font-family ff-semibold
  //     font-weight fw-semibold
  //   else if weight is medium
  //     font-family ff-medium
  //     font-weight fw-medium
  //   else if weight is regular
  //     font-family ff-regular
  //     font-weight fw-regular

  //   ._safe-font &
  //     font-family ff-safe

  font-url(file)
    return '~src/assets/fonts/' + file

  webfont(family, file, weight = 400)
    @font-face
      font-family family
      src:  url(font-url(file + '.eot')) format('eot'),
            url(font-url(file + '.woff')) format('woff'),
            url(font-url(file + '.woff2')) format('woff2'),
            url(font-url(file + '.ttf')) format('truetype');
      font-weight weight
      font-style normal

  webfontNoWoff(family, file, weight = 400)
    @font-face
      font-family family
      src: url(font-url(file + '.ttf')) format('truetype');
      font-weight weight
      font-style normal

// !!! BE CAREFULL, DO NOT OUTPUT CSS FROM SETTINGS (included everywhere)
// webfont(YOUR_FONT_Light, 'GT-Walsheim-Pro-Light', 200)
// webfont(YOUR_FONT_Regular, 'gt-walsheim-pro-regular', 400)
// webfont(YOUR_FONT_Medium, 'GT-Walsheim-Pro-Medium', 500)
// webfont(YOUR_FONT_Bold, 'gt-walsheim-pro-bold', 700)
