/** Stylus settings (colors, sizes etc)
 *
 * Please, use only vars, mixins, functions etc
 * But DO NO OUTPUT css declaration
 * because this file will be included everywhere
 *
 * TABLE OF CONTENT
 * --------
 *  - IMPORTS
 *  - SIZES_VIEWPORT
 *  - SIZES_MARGINGS
 *  - SIZES_ELEMENTS
 *  - Z-INDEX
 *  - ANIMATIONS
 *  - LOST_SETTINGS
 *
 * @author Nicolas Husson <hello@nusson.ninja>
 */


//  ===IMPORTS===

  @import 'kouto-swiss'
  @import './colors'
  @import './fonts'
  @import './utils'

/* ===SIZES_VIEWPORT=== */
  vp-phone = 600px
  vp-tablet-portrait = 768px
  vp-tablet = 1024px
  vp-desktop = 1280px
  vp-desktop-big = 1600px

  vp-max = 1440px
  vp-max-confort = 800px
  vp-min-confort = 240px
  vp-safe-gutter = 20px
  vp-big-gutter = 5vw
  vp-small-confort()
    width 35%
    max-width 400px

/* ===SIZES_MARGINGS=== */
  pad_safe    = 40px // padding left/right to be safe
  pad_confort = 60px
  pad_total   = pad_safe + pad_confort
  pad_outside = pad_confort + 20px

/* ===SIZES_ELEMENTS=== */
  // h-header = 100px
  h-logo = 30px

/* ===Z-INDEX=== */
  z-form = 100
  z-cookies = 50
  z-navbar = 800
  z-navigation = 900
  z-popin = 1000
  z-cursor = 1100

  z-section_intro = 10

/* ===ANIMATIONS=== */
  tr-in-ease = easing('out-expo')
  tr-out-ease = easing('in-quad')
  tr-fast = .25s
  tr-speed = .5s

/* ===LOST_SETTINGS=== */
  @lost gutter 0px
  @lost flexbox flex
