/** Collors settings (colors, sizes etc)
 *
 * @see article about color names : https://davidwalsh.name/sass-color-variables-dont-suck
 *
 * @author Nicolas Husson <hello@nusson.ninja>
 */
c-white       = #fff
c-black       = #000
c-error       = #FF0000
c-warning     = #ff9966
c-success     = #339900
